/* Universal Selectors */
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #1F2937;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

/* Header + Hero */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.logobox {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.linkbox {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    flex: 1;
}

.herotext {
    color: #E5E7EB;
    font-size: 18px;
}

.heroimage {
    flex-shrink: 0;
    max-width: 450px;
    height: 200px;
    background-color: white;
}

/*Images and quotes */
.services {
    background-color: #E5E7EB;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 52px;
    max-width: 950px;
    flex-wrap: wrap;
}

/* Idk how this works exactly but it makes the images right */
.service-info {
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 20vh;
    height: 20vh;
    overflow: hidden;
    display: flex;
}

.img-styling {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.service-text {
    order: 2;
}

/*
Styles and fonts:
Dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9AF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F8FAF8

Button Color, Call to action Background Color
#3882F6

information header text
36px extra-bold #1F2937

Quote section background color
#E5E7EB

Quote text
36px light italic #1F2937

Font - roboto
*/